# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# VS Code (optional)
.vscode/

# Jupyter checkpoints
.ipynb_checkpoints/

# local data & models
Indigenous_Weather_Forecasting-Starter_Notebook.ipynb
Indigenous_Weather_Forecasting_eda.ipynb
SampleSubmission.csv
submission_baseline.csv
submission_cat.csv
*.json
